<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="m-5">
        <table class='table'>
          <tr>
            <% if @customer.profile_image.attached? %>
              <%= image_tag @customer.get_profile_image, size:'100x100' %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "100x100" %>
            <% end %>
          </tr>
          <tr>
        	  <th>名前</th>
        	  <th><%= @customer.name %></th>
          </tr>
          <tr>
            <th>居住地</th>
            <th><%= @customer.residence_status_i18n %></th>
          </tr>
          <tr>
            <th>技術</th>
            <th><%= @customer.technique_status_i18n %></th>
          </tr>
          <tr>
            <th>ベストスコア</th>
            <th><%= @customer.best_score %></th>
          </tr>
          <tr>
        	  <th>ゴルフ歴</th>
        	  <th><%= @customer.golf_history %></th>
          </tr>
          <tr>
            <th>フォロー</th>
            <th><%= link_to @customer.followings.count, followings_public_customer_path(@customer) %></th>
          </tr>
          <tr>
            <th>フォロワー</th>
            <th><%= link_to @customer.followers.count, followers_public_customer_path(@customer) %></th>
          </tr>
        </table>

        <% if @customer != current_customer %>
          <% if @customer.is_followed_by?(current_customer) %>
            <%= link_to public_customer_relationships_path(@customer), method: :delete do %>
              <button class ="btn btn-danger">フォロー解除</button>
            <% end %>
          <% else %>
            <%= link_to public_customer_relationships_path(@customer), method: :post do %>
              <button class ="btn btn-primary">フォロー</button>
            <% end %>
          <% end %>
        <% end %>

        <% if @customer == current_customer %>
          <%= link_to edit_public_customer_path(current_customer.id), class: "btn btn-outline-secondary btn-block edit_customer_#{@customer.id}" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>


        <table class ="table">
          <tr>
            <th>紹介文</th>
            <th><%= @customer.introduction %></th>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-8 mb-4">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <h3><%= @customer.name %>の口コミ一覧</h3>
        <% @post.each do |post| %>
          <div class="col">
            <div class="card">
              <%= link_to public_post_path(post) do %>
                <% if post.image.attached? %>
                  <%= image_tag post.image, size: "100x150" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "100x150" %>
                <% end %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.golf_course %></h5>
                <p class="card-text">
                  <% for i in 1..post.star do %>
                    <i class="fas fa-star text-warning"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
