<div class ="container my-5">
  <div class ="row">
      <% if @range =="ユーザー名"%>
        <h2>検索結果</h2>
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>プロフィール画像</th>
                  <th>名前</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% if @customers.any? %>
                  <% @customers.each do |customer| %>
                    <tr>
                      <td>
                        <% if customer.profile_image.attached? %>
                          <%= image_tag customer.get_profile_image, size: '50x50' %>
                        <% else %>
                          <%= image_tag 'no_image.jpg', size: '50x50' %>
                        <% end %>
                      </td>
                      <td><%= customer.name %></td>
                      <td>
                        <% if customer.is_deleted == false %>
                          有効
                        <% else %>
                          退会
                        <% end %>
                      </td>
                      <td><%= link_to "ユーザー詳細", public_customer_path(customer), class: "btn btn-primary" %></td>
                    </tr>
                  <% end %>
                  <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
                <% else %>
                  <tr>
                    <td colspan="3">ユーザーがいません</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% else %>
        <h2>検索結果</h2>
        <%= render 'layouts/reviews', posts: @posts %>
        <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
      <% end %>
  </div>
</div>