<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="m-5">
        <h5>Bogey Bustersへようこそ</h5>
          <p class ="my-5">
            お気に入りのコースを見つけて </br>
            ベストスコアを目指しましょう
          </p>
      </div>
    </div>

    <div class="col-md-8 mb-4 my-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @posts.take(6).each do |post| %>
          <div class="col">
            <div class="card my-3">
              <% if customer_signed_in? %>
                <%= link_to public_post_path(post) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "100x150" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: "100x150" %>
                  <% end %>
                <% end %>
              <% elsif admin_signed_in? %>
                <%= link_to admin_post_path(post) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "100x150" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: "100x150" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to public_post_path(post) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "100x150" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: "100x150" %>
                  <% end %>
                <% end %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.golf_course %></h5>
                <p class="card-text">
                  <% for i in 1..post.star do %>
                    <i class="fas fa-star text-warning"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
