<div class="container">
  <div class="row">

    <div class="col-md-4 my-5">
      <div style="position: relative; display:inline-block;">
        <%= image_tag 'golf.image.png', class: "md-4" %>
        <div class="m-5">
          <h3>Bogey Busters</h3>
          <h5>へようこそ</h5>
          <p class="my-5">
            お気に入りのコースを見つけて<br>
            ベストスコアを目指しましょう
          </p>
        </div>
        <% unless current_customer %>
        <% unless admin_signed_in? %>
        <div class="my-5">
          <%= link_to 'ゲストログイン', public_homes_guest_sign_in_path, method: :post, class: "btn btn-primary" %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>


    <div class="col-md-8 mb-4 my-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @posts.take(6).each do |post| %>
          <div class="col">
            <div class="card my-3">
              <% if customer_signed_in? %>
                <%= link_to public_post_path(post) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class: "card-img-top img-fluid" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "card-img-top img-fluid" %>
                  <% end %>
                <% end %>
              <% elsif admin_signed_in? %>
                <%= link_to admin_post_path(post) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class: "card-img-top img-fluid" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "card-img-top img-fluid" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to public_post_path(post) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class: "card-img-top img-fluid" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "card-img-top img-fluid" %>
                  <% end %>
                <% end %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.golf_course %></h5>
                <p class="card-text">
                  <% for i in 1..post.star do %>
                    <i class="fas fa-star text-warning"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
