<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="m-5">
        <table class='table'>
          <tr>
              <%= image_tag @customer.get_profile_image, size: '100x100' %>
          </tr>
          <tr>
        	  <th>名前</th>
        	  <th><%= @customer.name %></th>
          </tr>
          <tr>
            <th>居住地</th>
            <th><%= @customer.residence_status_i18n %></th>
          </tr>
          <tr>
            <th>技術</th>
            <th><%= @customer.technique_status_i18n %></th>
          </tr>
          <tr>
            <th>ベストスコア</th>
            <th><%= @customer.best_score %></th>
          </tr>
          <tr>
        	  <th>ゴルフ歴</th>
        	  <th><%= @customer.golf_history %></th>
          </tr>
          <tr>
            <th>フォロー</th>
            <th><%= link_to @customer.followings.count, followings_public_customer_path(@customer) %></th>
          </tr>
          <tr>
            <th>フォロワー</th>
            <th><%= link_to @customer.followers.count, followers_public_customer_path(@customer) %></th>
          </tr>
        </table>
        <%= link_to "退会", customers_withdraw_admin_customer_path(@customer), method: :put, data: { confirm: '本当に退会させますか？' }, class: "btn btn-primary btn-block" %>
        <div class ="mt-3">
          <h5><strong>紹介文</strong></h5>
          <p><%= @customer.introduction %></p>
        </div>
      </div>
    </div>

    <div class="col-md-8 mb-4 my-5">
      <h3><%= @customer.name %>の口コミ一覧</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <% @post.each do |post| %>
          <div class="col mb-4">
            <div class="card h-100">
              <%= link_to admin_post_path(post) do %>
                  <%= image_tag post.get_image, class: "card-img-top img-fluid" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.golf_course %></h5>
                <p class="card-text">
                  <% for i in 1..post.star do %>
                    <i class="fas fa-star text-warning"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @post, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
