<div class="container my-5">
  <h5>
    <%= link_to admin_customer_path(@post.customer.id) do %>
      <%= @post.customer.name %>
    <% end %>
    のレビュー
  </h5>
  <div class="row">
    <div class="col-md-5">
      <h3 class="my-5"><strong><%= @post.golf_course %></strong></h3>
    </div>
    <div class="col-md-3 my-5"></div>
    <div class="col-md-2 my-5">
      <h5><%= @post.prefecture_status_i18n %></h5>
    </div>
    <div class="col-md-2 my-5">
      <% if @post.star? %>
        <% for i in 1..@post.star do %>
          <i class="fas fa-star text-warning"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "1000x600" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "1000x600" %>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row my-5">
    <div class="col-md-8">
      <h4><strong><%= @post.title %></strong></h4>
    </div>
    <div class="col-md-4">
      <h5>難易度:　 <strong><%= @post.difficulty_status_i18n %></strong></h5>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-8">
      <%= @post.review %>
    </div>
    <div class="col-md-4"></div>
  </div>


  <div class ="row my-5">
    <div class ="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Comment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post.post_comments.each do |post_comment| %>
          <tr>
            <td>
              <%= link_to admin_customer_path(post_comment.customer) do %>
                <%= post_comment.customer.name %>
              <% end %>
            </td>
            <td><%= post_comment.comment %></td>
            <td>
              <%= link_to "削除", admin_post_post_comment_path(@post, post_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class ="col-md-4">
      <h5>タグ一覧</h5>
      <% @post.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </div>
    <div class ="col-md-2">
      <%= link_to '削除する', admin_post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-block destroy_post_#{@post.id}"%></td>
    </div>
  </div>


</div>