<div class="container my-5">
  <h3><%= @tag.name %></h3>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @tag.posts.each do |post| %>
      <div class="col my-3">
        <div class="card h-100">
          <div class="card-img-top position-relative">
            <%= link_to public_post_path(post) do %>
                <%= image_tag post.get_image, class: "card-img-top rounded-3" %>
            <% end %>
            <% if post.star? %>
              <div class="position-absolute top-0 start-0">
                <% for i in 1..post.star do %>
                  <i class="fas fa-star text-warning"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= post.golf_course %></h5>
            <p class="card-text"><%= post.difficulty_status_i18n %></p>
            <p class="card-text"><%= post.prefecture_status_i18n %></p>
            <p class="card-text"><%= post.review.truncate(50) %></p>
            <%= link_to "詳細をみる", public_post_path(post) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @tag_posts, theme: 'twitter-bootstrap-4' %>
</div>
